html{
      margin:0;
      padding:0;
      background:#fff;
    }
      body{
        margin:0;
        
        
        font-family: 'Open Sans', sans-serif
      }
      nav{
        color:#ececec;
        background:#001458;
        opacity:90%;
        height:3.5rem;
      }
      
      nav ul{
        list-style-type:none;
        display:inline-block;
        width:100%;
      }
      
      li{
        display:inline;
        width:rem;
      }
      .nav_container{
        display:flex;
      }
      #name{
        margin-top:0;
        padding: 1rem 0 1rem 1rem;
        display:inline-block;
        position:relative;
        bottom:25px;
        flex:1;
        font-size:2rem;
        font-weight:600;
      }
      
      p{
        display:inline-block;
        padding-left:1.5rem;
      }
      li a:link{
        color:#ececec;
        text-decoration:none;
      }
      
      li a:hover{
        color:#adadad;
        text-decoration:none;
      }
      
      li a:active{
        color:#a1a1a1;
      }

      li a:visited{
        color: #ececec;
      }
      .right_nav{
        flex:1;
        width:200px;
      }
      .right_nav li {
        padding-right:50px;
        display:inline-block;
        font-weight:400;
      }

      #landing-page{
        margin:0;
        padding:0;
        background-image: url(gray-pc.png);
        background-repeat: none;
        background-size:cover;
        width:100%;
        height:50vw;
        opacity: 75%;
        color:white;
      }

      #landing-page p{
        font-size: 2rem;
        font-family:'DotGothic16','Open Sans';
      }